{% extends "base.html" %}
{% block pageBase %}

<h1>Esto es para {{tipoAccion}} Ingresos y Gastos</h1>
<form method="post" action="{{urlForm}}">  {# En el action va la url de a donde van los datos del formulario #}
    <label>Fecha:</label><br>
    <input type="date" name="fecha" value="{{dataForm['fecha']}}"><br>  {# el id de los input se usa mas para js y se puede sacar. El name tiene que ser distinto para cada input y se usa para capturar ahi lo que se pone en el input#}
    <label>Concepto:</label><br>
    <input type="text" name="concepto" value="{{dataForm['concepto']}}"><br>
    <label>Monto:</label><br>
    <input type="number" name="monto" step="0.01" value="{{dataForm['monto']}}"><br><br> {# el step es para que el campo acepte dos decimales#}
    
    <button type="submit">{{tipoBoton}}</button>  {# al ponerle como metodo post al form, el boton de tipo submit envia un post y no un get#}
</form>

<br>
<button>
    <a href="/">Volver</a>
</button>   

<div style="color: red;">
    {% for item in error %}
    <ul>
        <li>{{item}}</li>        
    </ul>
    {% endfor %}
</div>

{% endblock %}