{% extends "base.html" %}
{% block pageBase %}
<h1>Esto es una lista de Ingresos y Gastos</h1>
<table role="grid">  {# El role="grid" es un estilo que viene de pico#}
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>Concepto</th>
      <th>Monto</th>
      <th>Acciones</th>
    </tr>
    {% for item in data %}    
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}€</td>
            <td>
              <a href="/update/{{item[0]}}">Modificar</a>
              <a href="/delete/{{item[0]}}">Eliminar</a>
            </td>
        </tr>

        {# Para no repetir cada entrada de la tabla, recibimos la lista con los datos de index en routes.
            Con esta forma de Jinja ({% for item in data %} y {% endfor %}) se repite lo que esta en la lista hasta terminarla.
            El data en for item in data % es la lista que pasamos como parametro#}
    {% endfor %}
    

  </table>

  <button>
    <a href="/new">Nuevo Registro</a>
  </button>

{% endblock %}